html,
body,
img {
	margin: 0;
	padding: 0;
	background: #0e0e0e;
}

pre {
	display: none;
}

a,
h1 {
	font-size: 5rem;
	text-align: center;
	display: block;
	font-family: sans-serif;
	color: white;
}

p.bl_p {
	text-align: center;
	color: white;
	text-align: center;
	font-size: 2rem;
}

h2#c {
	color: white;
	text-align: center;
	font-size: 2.3rem;
}

p.bl_p a {
	font-size: 2rem;
	text-align: left;
	display: inline-block;
}

img,
video,
audio {
	left: 50%;
	top: 50%;
	max-width: 100vw;
	max-height: 100vh;
	position: absolute;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
        z-index: 1;
}

div#bottom_link, #bottom_link_open_tab {
	position: fixed;
	bottom: 0;
	right: 0;
	background: #540606;
	border: 1px solid #484747;
	margin-bottom: 10px;
	margin-right: 10px;
        z-index: 2;
}

#bottom_link_open_tab {
        margin-right: 144px;
}

div#bottom_link:hover, #bottom_link_open_tab:hover {
	background: #840000;
}

div#bottom_link a, #bottom_link_open_tab a {
	font-size: 1rem;
	text-decoration: none;
	padding: 10px;
}
