/* noto-sans-tc-regular - latin */

@font-face {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/noto-sans-tc-v2-latin-regular.eot');
	/* IE9 Compat Modes */
	src: local('Noto Sans TC Regular'), local('NotoSansTC-Regular'), url('fonts/noto-sans-tc-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/noto-sans-tc-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/noto-sans-tc-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('fonts/noto-sans-tc-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/noto-sans-tc-v2-latin-regular.svg#NotoSansTC') format('svg');
	/* Legacy iOS */
}


/* noto-sans-tc-900 - latin */

@font-face {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 900;
	src: url('fonts/noto-sans-tc-v2-latin-900.eot');
	/* IE9 Compat Modes */
	src: local('Noto Sans TC Black'), local('NotoSansTC-Black'), url('fonts/noto-sans-tc-v2-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/noto-sans-tc-v2-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/noto-sans-tc-v2-latin-900.woff') format('woff'), /* Modern Browsers */
	url('fonts/noto-sans-tc-v2-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
	url('fonts/noto-sans-tc-v2-latin-900.svg#NotoSansTC') format('svg');
	/* Legacy iOS */
}

#length_menu,
#deletion_menu,
#metadata_menu {
	width: 100%;
	float: left;
}

#length_menu span,
#deletion_menu span,
#metadata_menu span {
	float: left;
	width: 46%;
	text-align: right;
}

#length_menu select,
#deletion_menu select,
#metadata_menu select {
	width: 45%;
	float: left;
	margin-left: 25px;
	max-width: 320px;
	color: black;
}

input#user_password {
	float: left;
	border: 1px solid #000;
	background: #fff;
	padding: 6px;
	float: left;
	margin-left: 3px;
	max-width: 320px;
	color: #000;
}

#user_deletion_time {
	border: 1px solid #000;
	background: #fff;
	padding: 6px;
	float: left;
	margin-left: 3px;
	max-width: 320px;
	color: #000;
}

input#upfile {
	display: none;
	box-sizing: border-box;
	overflow: hidden;
}

label.file-button {
	width: 100%;
	font-size: 3rem;
	margin: 0 auto;
	text-align: center;
	float: left;
	border: 9px solid #2b040c;
	background: #d407297d;
	color: #e9ebef;
	padding-top: 60px;
	padding-bottom: 60px;
	border-radius: 0px;
	transition: background 0.21s;
	-moz-transition: background 0.21s infinite;
	-webkit-transition: background 0.21s infinite;
	border-radius: 0px;
	box-sizing: border-box;
	overflow: hidden;
	background: #d4072954;
}

form {
	width: 100%;
	float: left;
	text-align: center;
	padding: 0;
	margin: 0;
}

body {
	background: url(https://upload.vaa.red/css/2gcm2Y.png);
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	background-size: auto;
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 400;
}

input[type="submit"] {
	width: 100%;
	text-align: center;
	border-radius: 0px;
	float: left;
	padding: 0;
	margin: 0;
	font-size: 4rem;
	margin: 0 auto;
	text-align: center;
	float: left;
	color: #e9ebef;
	font-family: sans-serif;
	padding-top: 39px;
	padding-bottom: 33px;
	border-radius: 0px;
	border: 9px solid #2c0031;
	background: #d100ff9e;
	transition: background 0.21s;
	-moz-transition: background 0.21s infinite;
	-webkit-transition: background 0.21s infinite;
	animation: border-change 2s;
	-moz-animation: border-change 1s infinite;
	-webkit-animation: border-change 1s infinite;
}

#encryption_notice {
	display: inline-block;
	display: none;
	font-size: 1rem;
	text-align: center;
	color: #efcfe9;
	padding: 10px;
	font-style: italic;
	background: #9502a057;
	position: relative;
	top: 11px;
}

@-moz-keyframes border-change {
	0% {
		border: 9px solid #2c0031;
	}
	25% {
		border: 9px solid #37013e;
	}
	50% {
		border: 9px solid #4b0354;
	}
	75% {
		border: 9px solid #37013e;
	}
	100% {
		border: 9px solid #2c0031;
	}
}

@-webkit-keyframes border-change {
	0% {
		border: 9px solid #2c0031;
	}
	25% {
		border: 9px solid #37013e;
	}
	50% {
		border: 9px solid #4b0354;
	}
	75% {
		border: 9px solid #37013e;
	}
	100% {
		border: 9px solid #2c0031;
	}
}

select {
	border: 1px solid black;
	background: white;
	padding: 6px;
	margin-left: 7px;
}

label.file-button:hover,
label.file-button:focus {
	cursor: pointer;
	border: 9px solid #2b040c;
	background: #ff002a63;
}

input[type="submit"] {
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

input[type="submit"] {
	display: none;
	border-radius: 0px;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #b706de75;
	cursor: pointer;
}

#result a {
	font-size: 3rem;
	color: white;
	padding-right: 31px;
	display: inline-block;
	padding-left: 31px;
	word-break: break-all;
}

div#result {
	overflow: hidden;
	width: 100%;
	padding-top: 2rem;
}

label#label_enc {
	color: white;
	font-family: sans-serif;
	font-size: 1.3rem;
	margin-bottom: 50px;
	display: block;
	margin-top: 50px;
	float: left;
	width: 100%;
	text-align: center;
	font-size: 1.6rem;
	cursor: pointer;
	background: #0808084d;
	padding-bottom: 13px;
	padding-top: 13px;
	margin-bottom: 10px;
}

label#label_enc:hover,
label#label_enc:focus {
	background: #0000008a;
}

label.file-button.highlight {
	border: 9px solid #2b040c;
	background: #ff002a7d;
}

#first-row {
	overflow: hidden;
	float: left;
	width: 100%;
	min-height: 333px
}

#second-row {
	overflow: hidden;
	float: left;
	width: 100%;
}

label.file-button[disabled],
label.file-button:disabled {
	cursor: not-allowed;
	background: #9e9e9e7d;
}

input[type=submit]:disabled,
input[type=submit][disabled] {
	font-size: 1.3rem;
}

#result a:hover,
#result a:focus {
	color: #fda0a0;
}

div#info {
	float: left;
	overflow: hidden;
	margin-top: 100px;
	padding-left: 30px;
	width: calc(100% - 60px);
}

div#info ul {
	list-style: none;
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}

div#info ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}

div#info ul li p {
	color: #cc6274;
	padding: 0;
	margin: 0;
	padding-top: 7px;
}

span.advanced_label {
	cursor: pointer;
}

div#advanced {
	overflow: hidden;
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 18px;
}

div#advanced span {
	color: white;
	margin: 0;
	padding: 0;
}

#advanced #settings {
	display: none;
}

#advanced #settings #length #custom_key {
	display: none;
}

#user_password,
#user_deletion_time {
	display: none;
}

div#length_menu {
	margin-top: 10px;
}

#deletion_link {
	color: #bbb9b9;
	width: 100%;
	overflow: hidden;
	font-size: 1rem;
	margin-top: 27px;
	margin-bottom: 27px;
	display: block;
}

#deletion_link a {
	font-size: 1rem;
	color: #a79fa1;
	word-break: break-all;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}

#deletion_link {
	display: none;
}

input[type="submit"][disabled],
input[type="submit"]:disabled {
	cursor: not-allowed;
	background: #a2a2a29e;
}

div#allowed {
	overflow: hidden;
	float: left;
	width: 50%;
}

div#donate {
	float: right;
	width: 50%;
	text-align: right;
}

#donate p,
#donate a {
	color: #fde4e4;
	font-size: 0.87rem;
}

div#deletion_menu,
div#metadata_menu {
	margin-top: 10px;
}

#donate p.tos-contact {
	padding-top: 21px;
}

#donate p.tos-contact a {
	color: #c96072;
}

#donate p.tos-contact a:hover,
#donate p.tos-contact a:focus {
	color: white;
}

#donate p a:hover,
#donate p a:focus {
	color: #ff6a6a;
}

label span {
	font-size: 1.9rem;
	width: 100%;
	float: left;
	color: #92898a;
}

label span:first-child {
	font-size: 4rem;
	color: white;
	text-align: center;
}

@media (max-width:900px) {
	#donate p.tos-contact a {
		font-size: 0.8rem;
	}
	div#info ul li p {
		font-size: 0.8rem;
	}
}

@media (max-width:787px) {
	div#allowed {
		float: left;
		width: 100%;
	}
	div#donate {
		float: left;
		padding-top: 30px;
		width: 100%;
		text-align: left;
	}
}

@media (max-width:740px) {
	#encryption_notice {
		font-size: 0.8rem;
	}
	label.file-button {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	label span:first-child {
		font-size: 2rem;
	}
	label span: {
		font-size: 1rem;
	}
	input[type="submit"] {
		font-size: 2rem;
	}
	label#label_enc {
		font-size: 1.2rem;
	}
	div#result {
		padding-top: 2rem;
		padding-bottom: 10px;
		padding-left: 37px;
		width: 100%;
	}
	#result a {
		font-size: 1.4rem;
	}
	div#advanced span {
		font-size: 0.8rem;
	}
	#first-row {
		min-height: 200px;
	}
	div#info {
		margin-top: 90px;
	}
	div#info ul li p {
		font-size: 0.88rem;
	}
	label span {
		font-size: 1.1rem;
	}
	#result a {
		margin-right: 30px;
		padding-left: 0px;
	}
}

@media (max-width:420px) {
	label#label_enc {
		font-size: 0.9rem;
	}
	label span:first-child {
		font-size: 1.3rem;
	}
	label span {
		font-size: 0.9rem;
	}
}
